@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.cars-container {
  display: flex;
  padding: 15px 150px;
  background-color: #f5f5f5;
  gap: 10px;
  /* height: 100vh; */
}

.filter-container {
  width: 60%;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  top: 30px;
  left: 150px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 100%;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px;
  /* margin-bottom: 20px; */
}

.filter-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-icon {
  /* margin-right: 10px; */
}

.clear-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
}

input[type="checkbox"] {
  outline-offset: 1px; /* spacing between checkbox and outline */
}

ul {
  padding: 0;
  margin: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li {
  list-style: none;
}

.dash {
  margin: 0 4px;
}

.clear-button:hover {
  text-decoration: underline;
}

.filter-section {
  /* margin-bottom: 20px; */
  padding: 10px 10px 20px;
}

.filter-title {
  margin-bottom: 10px;
  margin-left: 5px;
}

.filter-budget {
  display: flex;
  align-items: center;
}

.input {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Remove arrows from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  padding: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
}

select:focus {
  outline: none;
  border: 1px solid #f5f5f5;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: -1rem; */
}

.sort-car-wrap {
  flex: 3;
}

.sort-cars {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  width: 89%;
  margin: 1rem 0 0 1rem;
  gap: 5px;
  border-radius: 6px;
}
